/* ----------------------------- */
/* Reset CSS
/* ----------------------------- */

@charset "UTF-8";
html {
  /* on s'arrange pour que 1rem soit égal à 10px */
  font-size: 62.5%;
  /* IE9-IE11 */
  font-size: calc(1em * 0.625);
}

/* la suite du reset permet d'enlever les marges par défaut créées par les navigateurs */
/* et de donner un comportement plus intuitif aux principaux éléments */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul, menu {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img{
  max-width: 100%;
  height: auto;
}
a{
  color: inherit;
  text-decoration: none;
}
h1, h2, h3, h4, h5{
  font-weight: normal;
}
*[role='button']{
	cursor: pointer;
	user-select: none;
}


/* ----------------------------- */
/* TYPO
/* ----------------------------- */

@font-face {
    font-family: 'GrandcafeW01-Bold';
    src: url('../fonts/GrandcafeW01-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ----------------------------- */
/* TEXT
/* ----------------------------- */

body{
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 1.6rem; /* 1.6rem = 16px dans notre cas */
  line-height: 1.2;
}

.text{
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.text{
  display: flex;
  justify-content: space-between;
}

h2{
  font-size: 3rem;
  padding-bottom: 1em;
}

header{
  font-size: 2rem;
}

.logo{
  font-size: 3.5rem;
  font-family: 'GrandcafeW01-Bold';
}


/* ----------------------------- */
/* LAYOUT
/* ----------------------------- */

.container{
  cursor: pointer;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 2em;
  padding-bottom: 1em;
}

.container{
  max-width: 80vw;
}

.page{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  padding: 0.7vw;
  /*column-count: 2;*/
}


@media screen and (max-width: 730px){
  .page{
    grid-template-columns: 1fr;
    margin: 0.5vw auto;
    max-width: 90vw;
      
   }
  header{
    align-content: center;
  }

  .propos{
    font-size: 1.3rem;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
  }

  .logo{
    font-size: 1.6rem;
    padding-bottom: 0.5em;
  }

  .footer_accueil{
    font-size: 1.2rem;
  }

   .eyes{
    opacity: 0;
   }

   .cat{
    transform: scale(0.5);
    left: 50px;
   }

   .duck{
    opacity: 0;
   }

   .carousel{
    display: flex;
    flex-wrap: wrap;
   }

   .propos{
    display: flex;
    flex-wrap: wrap;
   }

   .links a{
    display: block;
    text-align: center;
    padding-bottom: 1em;
   }   
}

main{
  display: flex;
}

.presentation, .interets, footer{
  padding: 3em;
}

footer{
  margin-top: 5%;
  padding-bottom: 20%;
}

.footer_accueil{
  padding: 1.5%;
  display: flex;
  justify-content: center;
}

.liste{
  display: flex;
}

ul{
  padding-right: 2em;
}

@media screen and (min-width: 730px){

  .links{
    display: flex;
    justify-content: space-between;
  }

}

/* ----------------------------- */
/* IMAGES & GIFS
/* ----------------------------- */

.container{
  margin: 0.8vw;
  top: 10%;
}

.eyes{
  position: fixed;
  z-index: 1;
  top: 1vw;
  left: 30%;
  scale: 100%;
}

.cat{
  position: fixed;
  z-index: 2;
  top: 26vw;
  right: 50%;
  scale: 70%;
}

.duck{
  position: fixed;
  z-index: 1;
  top: 24.5vw;
  left: 45%;
  scale: 70%;
}

.retour{
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 2.5em;
  margin-top: 2em;
  padding: 0.5em;
}

.portfolio{
  max-height: 80vh;
  padding: 0.5em;
}

.carousel{
  padding: 2em;
  display: flex;
}

/* ----------------------------- */
/* COLOURS
/* ----------------------------- */

body, header{
  background-color: #ffc4f3;
}
.retour{
  background-color: rgba(255, 196, 243, 0.7);
  border-radius: 0.5rem;
}
.links :hover{
  color: #ffc4f3;
}

footer{
  background-color: #ffb700;
}